.term-card {
  padding: 24px;
  padding-right: 48px;
  border-radius: 24px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.term-card__title {
  margin: 0;
}

.term-card__description {
  font-size: 16px;
  margin: 0;
}

.delete-icon {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #666;
  transition: color 0.2s;
}
.delete-icon:hover {
  color: red;
}
